<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <style>
        body{
            background-color: antiquewhite;
        }

    </style>
    <marquee>Welcome to Home Page</marquee>
</head>
<body>
    <div align="center">
        <fieldset>
    <legend align="center"><h2>Welcome to home page</h2></legend>
<a href="reg">Registration page </a>  /
<a href="update"> Click to upadte Employee Details</a>/
<A href="emplist">Click to  Employee Details</a>
</fieldset>
</div>
</body>
</html>