<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <style>
        body{
            background-color: antiquewhite;
        }

    </style>
    <marquee>Welcome to Registration  Page</marquee>
</head>
<body>
    <div align="center">
        <fieldset>
          <legend align="center">  <h1>Welcome to Registration Page</h1></legend>
            <form action="addEmp" method="POST">
                <table>
                    <tr>
                        <td>Id : </td>
                        <td><input type="text" name="id"></td>
                    </tr>
                    <tr>
                        <td>Name : </td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>contact No : </td>
                        <td><input type="text" name="contact"></td>
                    </tr>
                    <tr>
                        <td>Email : </td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td>Password : </td>
                        <td><input type="password" name="pass"></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="save"></td>
                        <td><input type="reset" value="reset"></td>
                    </tr>
                </table>
    
            </form>
        </fieldset>
    </div>
    <button align="center"><a href="home">Home Page</a></button>
</body>
</html>